<VirtualHost *:80>
  Protocols http/1.1
  Include /etc/apache2/tracim.conf
</VirtualHost>

<VirtualHost *:443>
  Protocols h2 http/1.1
  Include /etc/apache2/tracim.conf
  Include /etc/apache2/ssl.conf
</VirtualHost>
