@import '~tracim_frontend_lib/src/css/Variable.styl'

.activityList
  display flex
  flex-direction column

  &__refresh
    margin-inline-end 0
    margin-bottom standardSpacing

  &__placeholder
    text-align center

  & .feedItem_2_preview
    box-sizing content-box
    overflow hidden
    max-height previewHeight

    &__overflowOverlay
      background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent),
        radial-gradient(ellipse at bottom, rgba(0, 0, 0, 0.1), transparent)
      background-repeat no-repeat
      background-position bottom
      position absolute
      bottom previewHeight / 4 // 40px
      height 25%
      width 100%

  & > .iconbutton
    width fit-content
    align-self center
    margin-bottom pageSpacing
